.app_container{
padding: 10px;
}

.app_container>.heading{
  font-size: 40px;
  font-weight: 500;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}